html, body, ol, 
form, fieldset, a {
	margin: 0;
	padding: 0;
	border: 0;
} 

#header ul, #header li, #header p,
#main_navbar ul, #main_navbar li, #main_navbar p,
#bin_navbar ul, #bin_navbar li, #bin_navbar p
{ 
	margin: 0;
	padding: 0;
	border: 0;
}


img {
	border: none;
}

body {
	background-image: url("/site_media/images/gradient_background.png");
	background-repeat: repeat-x;
	font-size: 100.01%;
	font-family: Arial;
	color: #777777;
	background-color: #CEEBF7;
	text-align: center; /*IE*/
} 

#container {
	text-align: left; /*IE*/
	margin: auto;
	padding-bottom: 50px;
	width: 800px;
	height: 800px;
	font-size: 0.9em;
}

#frame {
	position: relative;
	float: left;
	clear: both;
	width: 800px;
}

#logo {
	float:left;
}

#top_navbar {
	float:right;
	display:inline;
	position:relative;
	top: 25px;
	padding: 5px;
	background-color: white;
	font-size: 0.8em;
}

#top_navbar_search {
	float: left;
	display: inline;
	position: relative;
	top: 2px;
}

#top_navbar_links  {
	float: right;
	display: inline;
	position: relative;
	top: 6px;
}

#top_navbar_links  a {
}

#top_navbar_links ul li {
	padding: 10px;
	display: inline;
	position: relative;
}

#main_navbar {
	border: 1px solid;
	background: #cde;
	padding: 1px;
	margin-bottom: 10px;
	height: 15px;
}

#main_navbar_left {
	float: left;
}

#main_navbar_left li {
	display: inline;
	padding: 5px;
	background-color: #ccc;
	margin-left: 5px;
	border: 1px solid black;
}

#main_navbar_left li.current_navbar_item {
	position: relative;
	background-color: white;
	height: 10px;
}

#main_navbar_right {
	float: right;
	position: relative;
	display: inline;
}

#main_navbar_right li {
	padding-right: 20px;
	position: relative;
	display: inline;
}

#bin_name {
	text-align: left;
	font-size: 1.5em;
	text-decoration: underline;
	clear: both;
}

#bin_desc {
	font-size: 0.8em;
	padding-top: 10px;
	padding-bottom: 10px;
}

#bin_list_item {
	margin: 10px;
	border-bottom: 1px solid #ccc;
	font-size: 1.2em;
}

#bin_list_item_details {
	font-size: 0.6em;
}


#scrap_item_footer {
	padding-top: 10px;
	padding-right: 10px;
	text-align: right;
	font-size: 0.7em;
}

#scrap_item_footer li {
	display:inline;
}

#scrap_item_left_box, #scrap_item_right_box {
	padding: 10px;
}

#scrap_item_left_box {
	width: 10px;
	background: #eee;
}

#scrap_item_content, #scrap_item_inactive_content {
	font-size: 0.9em;
	color: black;
	clear: both;
	height: auto;
	border-top: 1px dashed #ccc;
}

#scrap_item_inactive_content {
	text-decoration: line-through;
}

#page_navbar {
	background-color: yellow;
}

a:link, a:visited {
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: none;
}

#content {
	padding: 20px;
}

#hr {
	border: 1px solid black;
	width: 100%;
}

#page_container {
	clear: both;
	position: relative;
	width: 800px;
	border: 1px solid;
	background-color: white;
	min-height: 280px;
	/*min-height fix for IE6*/
	height: auto !important;
	height: 280px;
}

#main_form {
	height: 100%;
}

#main_form table {
	width: 100%;
}

#main_form textarea{
	height: 400px;
}

#main_form input[type="text"], #main_form textarea {
	width: 100%;
	border: 1px solid #ccc;
}

#main_form input[type="submit"], #main_form input[type="button"] {
	background: #ccc;
	border: 1px solid #ccc;
}

/*for editinplace.js*/
.editable {
     color: #000;
     background-color: #ffffd3;
}

#dialog_box {
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;
	height: 300px;
	width: 400px;
	margin: auto;
}

hr {
	border: 1px solid black;
}


#bin_navbar {
	float: right;
	position: relative;
	display: inline;
}

#bin_navbar li {
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #cde;
	border: 1px solid black;
	margin-left: 10px;
}

#user_profile table {
	border-style: solid;
	border-width: 1px;
	width: 100%;
}
